.container-for-creditdebit {
  display: flex;
}

.loader-spinner {
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 20px;
}
