.log-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.log-logo {
  position: absolute;
  top: 30px;
  left: 40px;
}

.log-head {
  color: #343c6a;
  text-align: center;
  z-index: 2;
  text-shadow: 0 0 1px;
}
.log-card-con {
  position: relative;
  background-color: #ffffff40;
  padding: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 350px;
  height: 350px;
  border-radius: 18px;
}

.login-input-element {
  padding: 8px;
  outline: none;
  border: 0;
  margin-top: 5px;
  background-color: #e2e2e2;
  border-radius: 5px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: #505887;
}

.submit-btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.err-text {
  color: red;
}
.log-btn-con {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
.log-btn {
  width: 43%;
  border: 0;
  outline: none;
  padding: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.active-log {
  background: transparent;
  color: #343c6a;
  box-shadow: 0 0 0 0 #343c6a;
}
